<header style="
    display: flex; 
    justify-content: space-between; 
    color: white; 
    padding: 10px;
">
  <nav style="display: flex; width: 100%; align-items: center;">
    <!-- Texte à gauche -->
    <span style="font-weight: bold; text-align: left;">Démo Routage Express</span>

    <!-- Boutons à droite -->
    <div style="display: flex; margin-left: auto;">
      <a href="/" style="margin-left: 5px;"><button>Accueil</button></a>
      <a href="/about" style="margin-left: 5px;"><button>À propos</button></a>
    </div>
  </nav>
</header>
