<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test Express EJS Layouts</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <header>
        Voici mon Header
    </header>

    <div class="content">
        <div class="scrollable">
            <%- body %>
        </div>
    </div>

        <!-- Footer global -->
    <footer>
        <p>Voici mon Footer © 2025</p>
    </footer>

</body>
</html>