<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Super Site</title>

    <!--Référence au fichier statique main.css-->
    <link rel="stylesheet" href="css/main.css">

</head>
<body>

<h1>Ceci est ma première page EJS !!!</h1>

<h2>Bonjour 

    <%if (!user.nickname) { %>
        <% if(!user.sex) { %>
            <h1>Bonjour bel(le) inconnu(e)</h1>
        <% } else if (user.sex === 'M') { %>
            <h1>Bonjour bel inconnu</h1>
        <% } else if (user.sex === 'F') { %>
            <h1>Bonjour belle inconnue</h1>
        <% } %>
    <% } else { %>
        <% if (!user.sex) { %>
            <h1>Bonjour <%= user.nickname %> !</h1>
        <% } else if (user.sex === 'M') { %>
            <h1>Bonjour Mr <%= user.nickname %> !</h1>
        <% } else if (user.sex === 'F') { %>
            <h1>Bonjour Mme <%= user.nickname %> !</h1>
        <% } %>
    <% } %>
</h2>

</body>
</html>