<section>
  <p class="breadcrumb" style="margin-top: 0px; text-align: left;" >&gt; Accueil</p>
  <h1>Bienvenue sur Démo Routage Express</h1>
    <img src="/images/routing.png" alt="Image de démonstration" class="home-image" width="400">
</section>