<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Super Site</title>

    <!--Référence au fichier statique main.css-->
    <link rel="stylesheet" href="css/main.css">

</head>
<body>

<h1>Ceci est ma première page EJS !!!</h1>

<h2>Bonjour 

    <%if (typeof user !== 'undefined') { %>
        <%= user %> !
    <% } else { %>
        bel(le) inconnu(e) !
    <% } %>

</h2>

</body>
</html>